.table {
  font-family: Trebuchet MS;
}
.table th,
.table td {
  font-size: 13px;
}
.table th {
  background-color: #006699;
  color: white;
}
.table tbody tr:hover {
  text-decoration: underline;
  cursor: pointer;
}
.inputBox {
  border: 1px solid #7f9db9 !important;
  color: #01539d;
}
.disabledInput {
  background-color: rgba(170, 170, 170, 0.19);
}
